<h1>Page about</h1>
<ul>
<link rel="stylesheet" href="/home/taras/Desktop/photo_2021-04-25_19-12-41.jpg"></ul>


<p>
	"Метод friends результатом свого виконання повертає масив користувачів який представляє друзів того юзера до якого ми цей метод викликали"</p>
	<p>
    Асоціація friends повертає масив користувачів який представляє друзів того юзера
    @friends = @user.friends"
</p>