<h1>Page about</h1>
<ul>
<link rel="stylesheet" href="/home/taras/Desktop/photo_2021-04-25_19-12-41.jpg"></ul>

<p><%= @about_me %></p>
<p><%= @sum %></p>
<p>
	<% answear = 3 + 3 %>
	3 + 35 == <%= @sum %>
</p>