<h1>Our contacts</h1>

<h2><b>Offices</b></h2>

<table class="table table-success">
  <thead>
  <tr>
    <th scope="col">New York</th>
     </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Stack Exchange Inc.</th>
      </tr>
  <tr>
    <th scope="row">110 William Street</th>
    </tr>
  <tr>
    <th scope="row">28th Floor</th>
    </tr>
    <tr>
    <th scope="row">New York, NY 10038</th>
    </tr>
  </tbody>
</table>

<table class="table table-success">
  <thead>
  <tr>
    <th scope="col">London</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Stack Overflow Ltd.</th>
  </tr>
  <tr>
    <th scope="row">Bentima House</th>
  </tr>
  <tr>
    <th scope="row">168-172 Old Street</th>
  </tr>
  <tr>
    <th scope="row">London, EC1V 9BP</th>
  </tr>
  </tbody>
</table>
