<h1>Starting webpage</h1>
<br>
<div>
<p>
  This site is designed to help novice programmers in learning Ruby language. Here you will find answers to the most common questions from practicing Ruby on Rails developer.
  You also have the opportunity after registration to ask questions on a topic of interest to you or a specific example.
</p>
</div>
