<table class="table table-white table-striped">
  <thead>
  </thead>
  <tbody>
  <tr>
    <th scope="row"> <strong>Title:</strong>
    <td><%= @post.title %>
    </td>
    </th>
  <tr>
    <th scope="row"> <strong>Text of post:</strong>
    <td><%= @post.body %></td>
    </th>
  </tr>
  </tbody>
</table>
