<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">

      <p>Copyright &copysr;
        <script>document.write(new Date().getFullYear());</script>,</p><p> Coding Journey</p>

  </div>
</footer>
